:root {

  --fundo: #ECF0F1;
  --texto: #2C3E50;
  --erro: #E74C3C;
  --acerto: #2ECC71;
  --botoes: #3498DB;
  --detalhes: #F1C40F;
  --nav: #8c929c;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.darkMode{
  --fundo: #2C3E50;
  --texto: #ECF0F1;
  --erro: #E74C3C;
  --acerto: #2ECC71;
  --botoes: #3498DB;
  --detalhes: #F1C40F;
  --nav: #2e4e6e;
}

.correct{
  background-color: var(--acerto);
}
.wrong{
  background-color: var(--erro);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--nav);
  color: var(--texto);
}

header>nav{
  height:35px;
  background-color: var(--nav);
  text-align: right;
}
.config{
  background-color: transparent;
  margin: 0;
  height: 30px;
  color: var(--texto);
}
.config:hover{
  border: none;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  margin-bottom: 10px;
  margin-top: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--botoes);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--detalhes);
}
.answer{
  width: 70%;
  height: 60%;
}

main{
  height: 80%;
  padding: 20px;
  background-color: var(--nav);
}
#main-content{
  height: 100%;
}
#questions{
  height: 100%;
  display: grid;
  grid-template-rows: 20% repeat(2,1fr) 10%;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  justify-items: center;
  background-color: var(--fundo);
}
#question{
  grid-area: 1/1/2/-1;
  padding: 10px;
}

#start-quiz{
  grid-area: -2/1/-1/-1;
  background-color: var(--acerto);
  padding: 15px;
  width: 300px;
}

footer{
  background-color: var(--nav);

}